# .env.example - generated with dotenvx

#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY=""

# .env
# Auth0 Configuration
AUTH0_DOMAIN=
AUTH0_ISSUER_BASE_URL=
AUTH0_SCOPE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=

# Application URLs
NEXT_PUBLIC_APP_URL=                  # For local development
# NEXT_PUBLIC_APP_URL=https://your-domain.com             # For production
APP_BASE_URL=
AUTH0_CALLBACK_URL=
AUTH0_POST_LOGOUT_REDIRECT_URI=
NEXT_PUBLIC_AUTH0_DOMAIN=
AUTH0_SECRET=

# Directus Configuration
# Admin user
ADMIN_EMAIL=
ADMIN_PASSWORD=
DIRECTUS_ADMIN_EMAIL=
DIRECTUS_ADMIN_PASSWORD=

# Security
KEY=
SECRET=
DIRECTUS_STATIC_TOKEN=

# Directus URLs
# For local development with docker-compose
NEXT_PUBLIC_DIRECTUS_URL=            # When running Directus locally
# For production
# NEXT_PUBLIC_DIRECTUS_URL=https://your-directus-domain.com  # When deployed to production
NEXT_PUBLIC_DIRECTUS_TOKEN=
AUTH0_MGMT_IDENTIFIER=